<fieldset>
    <legend>Tell us about what helps your gout.  Maybe it reduces pain or improves recovery time.</legend>
    <ul>
        <li><input type="checkbox" id="better_naproxen" name="naproxen"> <label for="better_naproxen">Naproxen</label></li>
        <li><input type="checkbox" id="better_icing" name="icing"> <label for="better_icing">icing</label></li>
        <li><input type="checkbox" id="better_elevation" name="elevation"> <label for="better_elevation">elevation</label></li>
        <li><input type="checkbox" id="better_chery_juice" name="chery_juice"> <label for="better_chery_juice">cherry juice</label></li>
        <li><input type="checkbox" id="better_blackbean_water" name="blackbean_water"> <label for="better_blackbean_water">blackbean water</label></li>
        <li><input type="checkbox" id="better_water" name="water"> <label for="better_water">water</label></li>
    </ul>
</fieldset>