<fieldset>
	<legend>What triggers your gout, or makes it worse?</legend>
	<ul>
		<li><input type="checkbox" id="worse_shellfish" name="shellfish"> <label for="worse_shellfish">shellfish</label></li>
		<li><input type="checkbox" id="worse_pork" name="pork"> <label for="worse_pork">pork</label></li>
		<li><input type="checkbox" id="worse_offal" name="offal"> <label for="worse_offal">offal</label></li>
		<li><input type="checkbox" id="worse_beer" name="beer"> <label for="worse_beer">beer</label></li>
		<li><input type="checkbox" id="worse_grain_based_alcohol" name="grain_based_alcohol"> <label for="worse_grain_based_alcohol">grain based alcohol</label></li>
		<li><input type="checkbox" id="worse_oily_fish" name="worse_oily_fish"> <label for="worse_oily_fish">oily fish</label></li>
		<li><input type="checkbox" id="worse_all_fish" name="worse_all_fish"> <label for="worse_all_fish">all fish</label></li>
	</ul>
</fieldset>