<input type="checkbox" id="naproxen" name="naproxen"> <label for="naproxen">Naproxen</label>
<input type="checkbox" id="icing" name="icing"> <label for="icing">icing</label>
<input type="checkbox" id="elevation" name="elevation"> <label for="elevation">elevation</label>
<input type="checkbox" id="chery_juice" name="chery_juice"> <label for="chery_juice">cherry juice</label>
<input type="checkbox" id="blackbean_water" name="blackbean_water"> <label for="blackbean_water">blackbean water</label>
<input type="checkbox" id="water" name="water"> <label for="water">water</label>